
.smooth-dnd-container :horizontal {
  display: grid;
  grid-template-columns:33% 33% 33%;
  text-align: center;
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: hidden;
  display: flex;
}

.smooth-dnd-container :vertical {
  display: flex;
  justify-content: center;
}
.card-column-header {
  font-size: xx-large;
  text-align: center;
  color: white;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
button {
  padding: 5px;
  margin: 10px;
  float: right;
}

body {
  margin: 20px auto;
  font-family: 'Lato';
  /* background:#666; */
  background-image: url("https://cdn.wallpapersafari.com/83/99/wcyVBR.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color:#fff;
}
  
h2 {
  font-weight: bold;
  font-size: 2rem;
}
 
p {
  font-family: 'Reenie Beanie';
  font-size: 2rem;
  font-weight: normal;
}
 
ul,li{
  list-style:none;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-decoration:none;
  color:#000;
  background:rgb(251, 251, 151);
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}
.card {
  margin:1em;
}

.card:nth-child(even) a{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.card:nth-child(3n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.card:nth-child(5n) a{
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.card:hover,.card:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.smooth-dnd-container {
  margin: auto;
  width: 25vw;
  height: 80vh;
}